.poster__description {
  display: flex;
  align-items: center;
}
.poster__year {
  margin-right: 15px;
}

.poster__foto {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: contcover ain;
}
.poster__about {
  @media screen and(min-width:1280px) {
    font-size: 20px;
    line-height: 1.2;
  }
}
.poster__title {
  line-height: 1.3;
  text-transform: uppercase;
}
.poster__description {
  color: var(--accent-color);
  line-height: 1.3;
}
.poster__genre::after {
  content: '';
  border-right: 1px solid #ff6b08;
  margin-left: 4px;
  margin-right: 4px;
}

.poster__rating {
  border: #ff6b08;
  background-color: #ff6b08;
  width: 36px;
  height: 16px;

  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.poster__rating__text {
  color: #ffffff;
}

.poster__thumb {
  width: 100%;
  border: 0px solid transparent;
  border-radius: 5px;
  overflow: hidden;

  @media screen and (min-width: 768px) {
    height: 455px;
  }
  @media screen and (min-width: 1280px) {
    height: 574px;
  }
}

.films {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin: -16px;
  }
  @media screen and (min-width: 1280px) {
    display: flex;
    flex-wrap: wrap;
    margin: -8px;
  }
}

.films__item {
  transition: transform var(--transition-duration) var(--timing-function),
    box-shadow var(--transition-duration) var(--timing-function);
  @media screen and (min-width: 768px) {
    width: calc((100% - 4 * 16px) / 2);
    margin: 16px;
  }
  @media screen and (min-width: 1280px) {
    width: calc((100% - 6 * 8px) / 3);
    margin: 8px;
    margin-top: 32px;
  }
}

.films__item:nth-child(-n + 3) {
  @media screen and(min-width:1280px) {
    margin-top: 0px;
  }
}

.films__item:not(:first-child) {
  @media screen and(max-width:767px) {
    margin-top: 20px;
  }
}

.films__item:hover {
  border-radius: 4px;
  box-shadow: 0 10px 20px rgba(122, 115, 117, 0.6);
  transform: scale(1.005);
}

.form__input {
  display: flex;
  justify-content: center;
}

.input {
  border: 1px solid black;
}

.poster__title {
  margin-top: 10px;
  @media screen and (min-width: 768px) {
    margin-top: 8px;
  }
  @media screen and (min-width: 1280px) {
    margin-top: 12px;
  }
}
