// ------------------SWIPER----------------------

.slide-container {
  max-width: 1120px;
  width: 100%;
  padding: 0 0 40px 0;
}
.slide-content {
  margin: 0 40px;
  overflow: hidden;
  border-radius: 25px;
}
.card {
  border-radius: 25px;
  background-color: var(--secondary-text-color);
}
.image-content,
.card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 14px;
}
.image-content {
  position: relative;
  row-gap: 5px;
  padding: 10px 0;
}
.card-image {
  position: relative;
  height: 180px;
  width: 180px;
  border-radius: 50%;
  background: var(--secondary-text-color);
  padding: 3px;
}
.card-image .card-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: 4px solid var(--accent-color);
}
.name {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.2;
  color: var(--main-text-color);
  margin: 0;

  margin-bottom: 10px;
}
.description {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.2;
  color: var(--accent-color);
  text-align: center;

  margin: 0;
  margin-bottom: 10px;
}

.social-links {
  display: flex;
  justify-content: center;
  padding-bottom: 24px;

  list-style: none;
  margin: 0;
  padding: 0;
}

.social-links__item {
  margin-right: 10px;

  &:last-child {
    margin-right: 0;
  }
}

.social-links__link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 44px;
  width: 44px;
  margin-bottom: 0px;

  fill: var(--icon-bg-color);
  border-radius: 5px;
  background-color: var(--background-color);

  transition: background-color var(--transition-duration) var(--timing-function),
    fill var(--transition-duration) var(--timing-function);

  &:hover,
  &:focus {
    background-color: var(--accent-color);

    fill: var(--primary-white-color);
  }

  &.instagram-icon,
  &.twitter-icon,
  &.facebook-icon,
  &.linkedin-icon {
    background-repeat: no-repeat;
    background-position: center;
  }

  &.instagram-icon {
    background-image: url(/src/images/instagram.svg);
  }
  &.twitter-icon {
    background-image: url(/src/images/twitter.svg);
  }
  &.facebook-icon {
    background-image: url(/src/images/facebook.svg);
  }
  &.linkedin-icon {
    background-image: url(/src/images/linkedin.svg);
  }
}

.swiper-navBtn {
  color: var(--accent-color);
  transition: color var(--transition-duration) var(--timing-function);
}
.swiper-navBtn:hover {
  color: #512201;
}
.swiper-navBtn::before,
.swiper-navBtn::after {
  font-size: 35px;
  color: var(--accent-color);
  transition: color var(--transition-duration) var(--timing-function);
}
.swiper-navBtn:hover::before,
.swiper-navBtn:hover::after {
  color: #ff984e;
}

.swiper-button-next {
  right: 0;
  top: 220px;
}
.swiper-button-prev {
  left: 0;
  top: 220px;
}
.swiper-pagination-bullet {
  background-color: #ff9243;
  opacity: 1;
}
.swiper-pagination-bullet-active {
  background-color: var(--accent-color);
}

@media screen and (max-width: 768px) {
  .slide-content {
    margin: 0 10px;
  }
}

// ----------MODAL-STUDENTS------------------
.modal-students {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  max-width: 80%;
  padding: 40px 12px 20px 12px;

  opacity: 1;
  background-color: var(--secondary-text-color);
  border-radius: 0px;

  transition: transform var(--transition-duration) var(--timing-function),
    opacity var(--transition-duration) var(--timing-function);

  @media screen and (min-width: 440px) {
    width: 440px;
  }

  @media screen and (min-width: 768px) {
    max-width: 100%;
    width: 706px;
  }

  @media screen and (min-width: 1280px) {
    width: 806px;
  }
}
.modal-movie__close-button,
.modal__close-button {
  position: absolute;
  top: +8px;
  right: +8px;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  background-color: var(--secondary-text-color);
  cursor: pointer;
  fill: var(--main-text-color);

  transition: fill var(--transition-duration) var(--timing-function);

  &:hover,
  &:focus {
    fill: var(--accent-color);
  }
}
