.tui-pagination {
    height: 40px;
    display: flex;
    justify-content: center;
    margin: 40px 0 40px 0;
    @media screen and (min-width: 768px) {
        margin: 60px 0 60px 0;
    }
}

.tui-page-btn.tui-prev.hide-prev,
.tui-page-btn.tui-next.hide-next,
.tui-page-btn.tui-next-is-ellip.change-next,
.tui-page-btn.tui-prev-is-ellip.change-prev {
    display: none;
}

@media screen and (min-width: 768px) {
    .tui-page-btn.tui-next-is-ellip.change-next,
    .tui-page-btn.tui-prev-is-ellip.change-prev {
        display: flex;
    }
}

.tui-pagination .tui-next {
    margin-left: 0;
}

.tui-pagination .tui-prev {
    margin-right: 0;
}

.tui-pagination .tui-page-btn {
    display: flex;
    border: none;
    align-items: center;
    justify-content: center;
    padding: 0;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    // color: var(--main-text-color);
    stroke: var(--main-text-color);
    transition: all var(--transition-duration) var(--timing-function);
    &:hover {
        stroke: var(--secondary-text-color);
        background: var(--accent-color);
        color: var(--secondary-text-color);
    }
}

.tui-pagination .tui-is-selected {
    color: var(--secondary-text-color);
    background: var(--accent-color);
}

.tui-pagination .tui-is-disabled:hover {
    background: transparent;
}

.tui-pagination .hide-first,
.tui-pagination .hide-last {
    background: var(--background-color);
}

.tui-pagination .tui-ico-ellip {
    height: 18px;
}

.tui-pagination .tui-ico-first,
.tui-pagination .tui-ico-last {
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    background-position: center;
    transition: all var (--transition-duration) var(--timing-function);
}
